In [2]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_excel('cidades.xlsx')

In [45]:
codigos = df['Codigo'].to_list()

In [50]:
import requests
import time

In [23]:
requests.get('http://www.portaltransparencia.gov.br/api-de-dados/auxilio-emergencial-por-municipio?mesAno=202004&codigoIbge=2200053&pagina=1', )

In [52]:
nomes = ['bpc-por-municipio', 'bolsa-familia-por-municipio', 'auxilio-emergencial-por-municipio']
cod = '2200053'

url = f'http://www.portaltransparencia.gov.br/api-de-dados/auxilio-emergencial-por-municipio?mesAno={mesano}&codigoIbge={cod}&pagina=1'
headers = {'Accept': 'application/json', 'chave-api-dados': '97ffcd5175f477ecee3cf0513575369a'}

In [53]:
headers = {'Accept': 'application/json', 'chave-api-dados': '97ffcd5175f477ecee3cf0513575369a'}
mesano = '202004'
for nome in nomes:
    arq = open(f'{nome}.txt', 'w')
    for cod in codigos:
        url = f'http://www.portaltransparencia.gov.br/api-de-dados/{nome}?mesAno={mesano}&codigoIbge={cod}&pagina=1'
        r = requests.get(url, headers = headers)
        time.sleep(2.5)
        print(r.text)
    arq.close

In [61]:
nome = nomes[0]
mesano = '202004'
cod = '2203230'
url = f'http://www.portaltransparencia.gov.br/api-de-dados/{nome}?mesAno={mesano}&codigoIbge={cod}&pagina=1'
headers = {'Accept': 'application/json', 'chave-api-dados': '97ffcd5175f477ecee3cf0513575369a'}
r = requests.get(url, headers = headers)

In [12]:
from ast import literal_eval
import json
import pandas as pd
import Orange
import numpy as np

In [20]:
aux_e = open('bpc-por-municipio.txt', 'r').read().split('\n')
aux_e.pop()
aux_e = list(map(literal_eval, aux_e))
aux_e = list(map(lambda x: (x[0]['municipio']['nomeIBGEsemAcento'], x[0]['valor'], x[0]['quantidadeBeneficiados']) ,aux_e))
dic = {'CIDADE':[x[0] for x in aux_e], 'VALOR':[x[1] for x in aux_e], 'BENEFICIARIOS':[x[2] for x in aux_e]}
bpc = pd.DataFrame.from_dict(dic)
print(bpc)
#js = {'data': [{'cidade':mun[0], 'valor':mun[1], 'qtdBen':mun[2]} for mun in aux_e]}
#arq = open('BPC.json', "w")
#arq.write(json.dumps(js))
#arq.close()

CIDADE     VALOR  BENEFICIARIOS
0                 ACAUA   15675.0             16
1          AGRICOLANDIA   89870.0             87
2           AGUA BRANCA  722095.0            692
3    ALAGOINHA DO PIAUI  114950.0            111
4     ALEGRETE DO PIAUI   43890.0             43
..                  ...       ...            ...
219       VARZEA BRANCA   35530.0             35
220       VARZEA GRANDE   47025.0             46
221         VERA MENDES   12540.0             13
222  VILA NOVA DO PIAUI   13585.0             14
223         WALL FERRAZ   14630.0             15

[224 rows x 3 columns]

In [31]:
False in list(auxem['CIDADE'] == bolsafam['CIDADE'])

False

In [32]:
cidades

,Unnamed: 0,nome,confirmados,obitos,incidencia,populacao
0,0,ACAUA,38,0,53.64,7084
1,1,AGRICOLANDIA,56,0,108.97,5139
2,2,AGUA BRANCA,915,36,525.53,17411
3,3,ALAGOINHA DO PIAUI,94,1,122.86,7651
4,4,ALEGRETE DO PIAUI,123,0,250.25,4915
...,...,...,...,...,...,...
219,219,VARZEA BRANCA,29,2,58.62,4947
220,220,VARZEA GRANDE,33,0,75.15,4391
221,221,VERA MENDES,19,0,61.75,3077
222,222,VILA NOVA DO PIAUI,55,0,185.12,2971
223,223,WALL FERRAZ,234,1,524.43,4462

In [52]:
#bpc = pd.read_csv('bpc.csv')
#bolsafam = pd.read_csv('bolsaFam.csv')
#auxem = pd.read_csv('auxEm.csv')
cidades = pd.read_csv('cidades_CO.csv')
#bpc_sorted = bpc.sort_values('CIDADE')
#bolsafam_sorted = bolsafam.sort_values('CIDADE')
#axem_sorted = auxem.sort_values('CIDADE')

In [53]:
cidades[cidades['nome'] == "BARRA D'ALCANTARA"]

    Unnamed: 0               nome  confirmados  obitos  incidencia  populacao
18          18  BARRA D'ALCANTARA           10       1       25.31       3951

In [54]:
dicio = {}
dicio['MUNICIPIO'] = bolsafam['CIDADE'].to_list()
dicio['VALOR_BF'] = bolsafam['VALOR'].to_list()
dicio['QTD_BF'] = bolsafam['BENEFICIARIOS'].to_list()
dicio['VALOR_AE'] = auxem['VALOR'].to_list()
dicio['QTD_AE'] = auxem['BENEFICIARIOS'].to_list()
dicio['VALOR_BPC'] = bpc['VALOR'].to_list()
dicio['QTD_BPC'] = bpc['BENEFICIARIOS'].to_list()
dicio['CONF'] = []
dicio['OBT'] = []
dicio['INC'] = []
dicio['POP'] = []
for cidade in dicio['MUNICIPIO']:
    print(cidade)
    dicio['CONF'].append(int(cidades[cidades['nome'] == cidade]['confirmados']))
    dicio['OBT'].append(int(cidades[cidades['nome'] == cidade]['obitos']))
    dicio['INC'].append(float(cidades[cidades['nome'] == cidade]['incidencia']))
    dicio['POP'].append(int(cidades[cidades['nome'] == cidade]['populacao']))

#dicio['CONF'] = cidades['confirmados'].to_list()
#dicio['OBT'] = cidades['obitos'].to_list()
#dicio['INC'] = cidades['incidencia'].to_list()
#dicio['POP'] = cidades['populacao'].to_list()

ACAUA
AGRICOLANDIA
AGUA BRANCA
ALAGOINHA DO PIAUI
ALEGRETE DO PIAUI
ALTO LONGA
ALTOS
ALVORADA DO GURGUEIA
AMARANTE
ANGICAL DO PIAUI
ANISIO DE ABREU
ANTONIO ALMEIDA
AROAZES
AROEIRAS DO ITAIM
ARRAIAL
ASSUNCAO DO PIAUI
AVELINO LOPES
BAIXA GRANDE DO RIBEIRO
BARRA D'ALCANTARA
BARRAS
BARREIRAS DO PIAUI
BARRO DURO
BATALHA
BELA VISTA DO PIAUI
BELEM DO PIAUI
BENEDITINOS
BERTOLINIA
BETANIA DO PIAUI
BOA HORA
BOCAINA
BOM JESUS
BOM PRINCIPIO DO PIAUI
BONFIM DO PIAUI
BOQUEIRAO DO PIAUI
BRASILEIRA
BREJO DO PIAUI
BURITI DOS LOPES
BURITI DOS MONTES
CABECEIRAS DO PIAUI
CAJAZEIRAS DO PIAUI
CAJUEIRO DA PRAIA
CALDEIRAO GRANDE DO PIAUI
CAMPINAS DO PIAUI
CAMPO ALEGRE DO FIDALGO
CAMPO GRANDE DO PIAUI
CAMPO LARGO DO PIAUI
CAMPO MAIOR
CANAVIEIRA
CANTO DO BURITI
CAPITAO DE CAMPOS
CAPITAO GERVASIO OLIVEIRA
CARACOL
CARAUBAS DO PIAUI
CARIDADE DO PIAUI
CASTELO DO PIAUI
CAXINGO
COCAL
COCAL DE TELHA
COCAL DOS ALVES
COIVARAS
COLONIA DO GURGUEIA
COLONIA DO PIAUI
CONCEICAO DO CANINDE
CORONEL JOSE DIAS
CORRENTE
CRISTALANDIA DO PIAUI
CRISTINO CASTRO
CURIMATA
CURRAIS
CURRALINHOS
CURRAL NOVO DO PIAUI
DEMERVAL LOBAO
DIRCEU ARCOVERDE
DOM EXPEDITO LOPES
DOMINGOS MOURAO
DOM INOCENCIO
ELESBAO VELOSO
ELISEU MARTINS
ESPERANTINA
FARTURA DO PIAUI
FLORES DO PIAUI
FLORESTA DO PIAUI
FLORIANO
FRANCINOPOLIS
FRANCISCO AYRES
FRANCISCO MACEDO
FRANCISCO SANTOS
FRONTEIRAS
GEMINIANO
GILBUES
GUADALUPE
GUARIBAS
HUGO NAPOLEAO
ILHA GRANDE
INHUMA
IPIRANGA DO PIAUI
ISAIAS COELHO
ITAINOPOLIS
ITAUEIRA
JACOBINA DO PIAUI
JAICOS
JARDIM DO MULATO
JATOBA DO PIAUI
JERUMENHA
JOAO COSTA
JOAQUIM PIRES
JOCA MARQUES
JOSE DE FREITAS
JUAZEIRO DO PIAUI
JULIO BORGES
JUREMA
LAGOINHA DO PIAUI
LAGOA ALEGRE
LAGOA DO BARRO DO PIAUI
LAGOA DE SAO FRANCISCO
LAGOA DO PIAUI
LAGOA DO SITIO
LANDRI SALES
LUIS CORREIA
LUZILANDIA
MADEIRO
MANOEL EMIDIO
MARCOLANDIA
MARCOS PARENTE
MASSAPE DO PIAUI
MATIAS OLIMPIO
MIGUEL ALVES
MIGUEL LEAO
MILTON BRANDAO
MONSENHOR GIL
MONSENHOR HIPOLITO
MONTE ALEGRE DO PIAUI
MORRO CABECA NO TEMPO
MORRO DO CHAPEU DO PIAUI
MURICI DOS PORTELAS
NAZARE DO PIAUI
NAZARIA
NOSSA SENHORA DE NAZARE
NOSSA SENHORA DOS REMEDIOS
NOVO ORIENTE DO PIAUI
NOVO SANTO ANTONIO
OEIRAS
OLHO D'AGUA DO PIAUI
PADRE MARCOS
PAES LANDIM
PAJEU DO PIAUI
PALMEIRA DO PIAUI
PALMEIRAIS
PAQUETA
PARNAGUA
PARNAIBA
PASSAGEM FRANCA DO PIAUI
PATOS DO PIAUI
PAU D'ARCO DO PIAUI
PAULISTANA
PAVUSSU
PEDRO II
PEDRO LAURENTINO
NOVA SANTA RITA
PICOS
PIMENTEIRAS
PIO IX
PIRACURUCA
PIRIPIRI
PORTO
PORTO ALEGRE DO PIAUI
PRATA DO PIAUI
QUEIMADA NOVA
REDENCAO DO GURGUEIA
REGENERACAO
RIACHO FRIO
RIBEIRA DO PIAUI
RIBEIRO GONCALVES
RIO GRANDE DO PIAUI
SANTA CRUZ DO PIAUI
SANTA CRUZ DOS MILAGRES
SANTA FILOMENA
SANTA LUZ
SANTANA DO PIAUI
SANTA ROSA DO PIAUI
SANTO ANTONIO DE LISBOA
SANTO ANTONIO DOS MILAGRES
SANTO INACIO DO PIAUI
SAO BRAZ DO PIAUI
SAO FELIX DO PIAUI
SAO FRANCISCO DE ASSIS DO PIAUI
SAO FRANCISCO DO PIAUI
SAO GONCALO DO GURGUEIA
SAO GONCALO DO PIAUI
SAO JOAO DA CANABRAVA
SAO JOAO DA FRONTEIRA
SAO JOAO DA SERRA
SAO JOAO DA VARJOTA
SAO JOAO DO ARRAIAL
SAO JOAO DO PIAUI
SAO JOSE DO DIVINO
SAO JOSE DO PEIXE
SAO JOSE DO PIAUI
SAO JULIAO
SAO LOURENCO DO PIAUI
SAO LUIS DO PIAUI
SAO MIGUEL DA BAIXA GRANDE
SAO MIGUEL DO FIDALGO
SAO MIGUEL DO TAPUIO
SAO PEDRO DO PIAUI
SAO RAIMUNDO NONATO
SEBASTIAO BARROS
SEBASTIAO LEAL
SIGEFREDO PACHECO
SIMOES
SIMPLICIO MENDES
SOCORRO DO PIAUI
SUSSUAPARA
TAMBORIL DO PIAUI
TANQUE DO PIAUI
TERESINA
UNIAO
URUCUI
VALENCA DO PIAUI
VARZEA BRANCA
VARZEA GRANDE
VERA MENDES
VILA NOVA DO PIAUI
WALL FERRAZ

In [55]:
df = pd.DataFrame.from_dict(dicio)
df.to_csv('final.csv',index=False)

In [56]:
df

,MUNICIPIO,VALOR_BF,QTD_BF,VALOR_AE,QTD_AE,VALOR_BPC,QTD_BPC,CONF,OBT,INC,POP
0,ACAUA,262311.0,1366,1802400.0,2784,15675.0,16,38,0,53.64,7084
1,AGRICOLANDIA,216328.0,928,1465200.0,2175,89870.0,87,56,0,108.97,5139
2,AGUA BRANCA,491899.0,2466,4321200.0,6079,722095.0,692,915,36,525.53,17411
3,ALAGOINHA DO PIAUI,275991.0,1547,2043600.0,2999,114950.0,111,94,1,122.86,7651
4,ALEGRETE DO PIAUI,184287.0,872,1430400.0,1914,43890.0,43,123,0,250.25,4915
...,...,...,...,...,...,...,...,...,...,...,...
219,VARZEA BRANCA,236936.0,1174,1605600.0,2270,35530.0,35,29,2,58.62,4947
220,VARZEA GRANDE,165427.0,868,1202400.0,1712,47025.0,46,33,0,75.15,4391
221,VERA MENDES,114027.0,644,928800.0,1435,12540.0,13,19,0,61.75,3077
222,VILA NOVA DO PIAUI,96795.0,491,742800.0,1120,13585.0,14,55,0,185.12,2971
223,WALL FERRAZ,116141.0,758,1116000.0,1703,14630.0,15,234,1,524.43,4462

In [50]:
tab.domain

[VALOR_BF, QTD_BF, VALOR_AE, QTD_AE, VALOR_BPC, QTD_BPC, CONF, OBT, INC, POP] {MUNICIPIO}

In [41]:
cidades['nome'] == bpc['CIDADE']

ValueError: Can only compare identically-labeled Series objects

In [39]:
cidades['nome']

0                   ACAUA
1            AGRICOLANDIA
2             AGUA BRANCA
3      ALAGOINHA DO PIAUI
4       ALEGRETE DO PIAUI
              ...
219         VARZEA BRANCA
220         VARZEA GRANDE
221           VERA MENDES
222    VILA NOVA DO PIAUI
223           WALL FERRAZ
Name: nome, Length: 224, dtype: object

In [20]:
cidades

,Unnamed: 0,nome,confirmados,obitos,incidencia,populacao
0,0,ACAUA,38,0,53.64,7084
1,1,AGRICOLANDIA,56,0,108.97,5139
2,2,AGUA BRANCA,915,36,525.53,17411
3,3,ALAGOINHA DO PIAUI,94,1,122.86,7651
4,4,ALEGRETE DO PIAUI,123,0,250.25,4915
...,...,...,...,...,...,...
219,219,VARZEA BRANCA,29,2,58.62,4947
220,220,VARZEA GRANDE,33,0,75.15,4391
221,221,VERA MENDES,19,0,61.75,3077
222,222,VILA NOVA DO PIAUI,55,0,185.12,2971
223,223,WALL FERRAZ,234,1,524.43,4462

In [57]:
df = pd.read_csv('final.csv')

In [45]:
for line in df:
    if()

,MUNICIPIO,VALOR_BF,QTD_BF,VALOR_AE,QTD_AE,VALOR_BPC,QTD_BPC,CONF,OBT,INC,POP
0,ACAUA,262311.0,1366,1802400.0,2784,15675.0,16,38,0,53.64,7084
1,AGRICOLANDIA,216328.0,928,1465200.0,2175,89870.0,87,56,0,108.97,5139
2,AGUA BRANCA,491899.0,2466,4321200.0,6079,722095.0,692,915,36,525.53,17411
3,ALAGOINHA DO PIAUI,275991.0,1547,2043600.0,2999,114950.0,111,94,1,122.86,7651
4,ALEGRETE DO PIAUI,184287.0,872,1430400.0,1914,43890.0,43,123,0,250.25,4915
...,...,...,...,...,...,...,...,...,...,...,...
219,VARZEA BRANCA,236936.0,1174,1605600.0,2270,35530.0,35,29,2,58.62,4947
220,VARZEA GRANDE,165427.0,868,1202400.0,1712,47025.0,46,33,0,75.15,4391
221,VERA MENDES,114027.0,644,928800.0,1435,12540.0,13,19,0,61.75,3077
222,VILA NOVA DO PIAUI,96795.0,491,742800.0,1120,13585.0,14,55,0,185.12,2971
223,WALL FERRAZ,116141.0,758,1116000.0,1703,14630.0,15,234,1,524.43,4462

In [58]:
df.apply(lambda x: pd.Series([x[0], x[1]/x[10], x[2]/x[10], x[3]/x[10], x[4]/x[10], x[5]/x[10], x[6]/x[10], x[7]/x[10], x[8]/x[10], x[9]]), axis=1 ,raw=True).to_csv('final_normalizado.csv', index=False)

In [59]:
df

,MUNICIPIO,VALOR_BF,QTD_BF,VALOR_AE,QTD_AE,VALOR_BPC,QTD_BPC,CONF,OBT,INC,POP
0,ACAUA,262311.0,1366,1802400.0,2784,15675.0,16,38,0,53.64,7084
1,AGRICOLANDIA,216328.0,928,1465200.0,2175,89870.0,87,56,0,108.97,5139
2,AGUA BRANCA,491899.0,2466,4321200.0,6079,722095.0,692,915,36,525.53,17411
3,ALAGOINHA DO PIAUI,275991.0,1547,2043600.0,2999,114950.0,111,94,1,122.86,7651
4,ALEGRETE DO PIAUI,184287.0,872,1430400.0,1914,43890.0,43,123,0,250.25,4915
...,...,...,...,...,...,...,...,...,...,...,...
219,VARZEA BRANCA,236936.0,1174,1605600.0,2270,35530.0,35,29,2,58.62,4947
220,VARZEA GRANDE,165427.0,868,1202400.0,1712,47025.0,46,33,0,75.15,4391
221,VERA MENDES,114027.0,644,928800.0,1435,12540.0,13,19,0,61.75,3077
222,VILA NOVA DO PIAUI,96795.0,491,742800.0,1120,13585.0,14,55,0,185.12,2971
223,WALL FERRAZ,116141.0,758,1116000.0,1703,14630.0,15,234,1,524.43,4462