In [5]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [18]:
def authentic():
    scope = ["https://spreadsheets.google.com/feeds",
             "https://www.googleapis.com/auth/spreadsheets",
             "https://www.googleapis.com/auth/drive.file",
             "https://www.googleapis.com/auth/drive"]
    try:

        creds = ServiceAccountCredentials.from_json_keyfile_name('../Projeto_Django/scripts/creds.json', scope)

    except Exception as e:

        print(e)

    client = gspread.authorize(creds)
    return client.open_by_key('1b-GkDhhxJIwWcA6tk3z4eX58f-f1w2TA2f2XrI4XB1w')

In [19]:
def getData(sheets,index=0):

    #Convertendo os dados da planilha para um DataFrame Para pegar todas basta iterar sobre sheets.worksheets()

    data = sheets.worksheets()[index].get_all_values()
    headers = data.pop(0)
    return pd.DataFrame(data, columns = headers)

In [20]:
sheets = authentic()

In [21]:
df1 = getData(sheets,index=1)
df2 = getData(sheets,index=2)
df3 = getData(sheets,index=3)
df4 = getData(sheets,index=4)
df5 = getData(sheets,index=5)
df6 = getData(sheets,index=6)
df8 = getData(sheets,index=8)
df23 = getData(sheets,index=23)

In [32]:
df23

  Id Leitos com Respirador Quantidade         496
0  1              Ocupados        335
1  2           Disponíveis        161

In [35]:
df8[df8['Município']!='PIAUÍ']

,id,Município,Confirmados,Óbitos,Incidência,População,CEP,,QTDE MUN,QTDE MUN OBT,CONF,OBT
0,1,ACAUA,4,0,"5,65",7084,64748000,,202,82,19753,643
1,2,AGRICOLANDIA,10,0,"19,46",5139,64440000,,,,,
2,3,AGUA BRANCA,216,13,"124,06",17411,64460000,,,,,
3,4,ALAGOINHA DO PIAUI,18,0,"23,53",7651,64555000,,,,,
4,5,ALEGRETE DO PIAUI,1,0,"2,03",4915,64675000,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
197,198,VARZEA BRANCA,2,1,"4,04",4947,64773000,,,,,
198,199,VARZEA GRANDE,2,0,"4,55",4391,64525000,,,,,
199,200,VERA MENDES,4,0,"13,00",3077,64568000,,,,,
200,201,VILA NOVA DO PIAUI,40,0,"134,63",2971,64688000,,,,,
201,202,WALL FERRAZ,7,0,"15,69",4462,64548000,,,,,

In [ ]:
df6

In [ ]:
df5

In [29]:
df4[df4['Faixa Etária']!='TOTAL']

     Faixa Etária Confirmados Percentual C. Óbitos Percentual O.
0      0 a 9 Anos         620          3,14      1          0,16
1    10 a 19 Anos        1011          5,12      3          0,47
2    20 a 29 Anos        3432         17,37      9          1,40
3    30 a 39 Anos        4852         24,56     22          3,42
4    40 a 49 Anos        3687         18,67     47          7,31
5    50 a 59 Anos        2794         14,14     79         12,29
6    60 a 69 Anos        1687          8,54    121         18,82
7    70 a 79 Anos        1041          5,27    170         26,44
8  80 Anos e mais         629          3,18    191         29,70

In [ ]:
df3

In [ ]:
df2

In [ ]:
df1

In [ ]:
def generateInternedDataTable(df):
    return df.drop(['LC','I-ILC','UTI','I-UTI','LE','I-LE','LR','I-LR','ALTAS'],axis=1)

In [ ]:
generateInternedDataTable(df23)

In [ ]:
def generateCityDataTable(df):
    return df.drop(['id','Território','QTDE MUN','QTDE MUN OBT','CONF','OBT'],axis=1)

In [ ]:
generateCityDataTable(df6)

In [ ]:
def generateStateDataTable(df):
    return df.drop(['Novos por Dia','Semana','Conf/Semana','Obt/Semana','Novos/Semana','Novos/Dia'],axis=1)

In [ ]:
generateStateDataTable(df5)

In [ ]:
def generateComorbidityTable(df):
    return df.drop('Percentual',axis=1)

In [ ]:
generateComorbidityTable(df4)

In [ ]:
def generateAgeRangeTable(df):
    d = {
        'Faixa Etária':df['Faixa Etária'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list()
    }
    return pd.DataFrame(data=d)

In [ ]:
generateAgeRangeTable(df3)

In [ ]:
def generateGenderTable(df1,df2):
    d = {
        'Confirmados Masculino':list(df1[df1.Sexo=="Masculino"].Quantidade),
        'Confirmados Feminino':list(df1[df1.Sexo=="Feminino"].Quantidade),
        'Obitos Masculino':list(df2[df2.Sexo=="Masculino"].Quantidade),
        'Obitos Feminino':list(df2[df2.Sexo=="Feminino"].Quantidade),
        }
    return pd.DataFrame(data=d)

In [ ]:
generateGenderTable(df1,df2)

In [ ]:
from datetime import datetime

def getTimeUpdate(df):
# Função que pega a ultima atualização na planilha do painel covid
    date = df.Data.to_list()[0].split(':')[1][1:11]
    time = df.Data.to_list()[0].split(':')[1][15:].split('h')
    datetime = date+" "+time[0]+":"+time[1]   
    
    return datetime

def getTimeSys():
# Função que pega data e hora do sistema
    data_e_hora_atuais = datetime.now()
    data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y %H:%M')
    
    return data_e_hora_em_texto

def getTimeLastUpdate():

# Função que pega a ultima feita no banco de dados
 
    pass

def calTime(time1,time2):

# Função que calcula a diferenca de duas datas
  
    formattime = '%d/%m/%Y %H:%M'
    dif = (datetime.strptime(time2, formattime) - datetime.strptime(time1, formattime)).total_seconds()
    return dif

In [ ]:
dfdata = getData(sheets, index=9)

In [ ]:
{'Data de Atualização':dfdata['Data'].to_list()}

In [ ]:
dataHora = dfdata.values[0][0].split(':')[-1].strip()

In [ ]:
dataHora

In [ ]:
dataHora.replace('às ','').replace('h', ':')

In [ ]:
'Data de Atualização: 18/06/2020 às 19h30'

In [ ]:
list(filter(str.isalnum, dataHora.split(':')))

In [30]:
def generateAgeRangeTable(sheets):
    df = getData(sheets,index=4)
    df = df[df['Faixa Etária']!='TOTAL']
    d = {
        'Faixa Etária':df['Faixa Etária'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list()
    }
    return pd.DataFrame(data=d).replace({'': 0})

In [31]:
generateAgeRangeTable(authentic())

     Faixa Etária Confirmados Óbitos
0      0 a 9 Anos         620      1
1    10 a 19 Anos        1011      3
2    20 a 29 Anos        3432      9
3    30 a 39 Anos        4852     22
4    40 a 49 Anos        3687     47
5    50 a 59 Anos        2794     79
6    60 a 69 Anos        1687    121
7    70 a 79 Anos        1041    170
8  80 Anos e mais         629    191

In [40]:
def generateCityDataTable(sheets):
    df = getData(sheets,index=8)
    df = df[df['Município']!='PIAUÍ']
    d = {
        'Município':df['Município'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list(),
        'Incidência':df['Incidência'].to_list(),
        'CEP':df['CEP'].to_list()
    }

    return pd.DataFrame(data=d).replace({'': 0})

In [41]:
generateCityDataTable(authentic())

              Município Confirmados Óbitos Incidência       CEP
0                 ACAUA           4      0       5,65  64748000
1          AGRICOLANDIA          10      0      19,46  64440000
2           AGUA BRANCA         216     13     124,06  64460000
3    ALAGOINHA DO PIAUI          18      0      23,53  64555000
4     ALEGRETE DO PIAUI           1      0       2,03  64675000
..                  ...         ...    ...        ...       ...
197       VARZEA BRANCA           2      1       4,04  64773000
198       VARZEA GRANDE           2      0       4,55  64525000
199         VERA MENDES           4      0      13,00  64568000
200  VILA NOVA DO PIAUI          40      0     134,63  64688000
201         WALL FERRAZ           7      0      15,69  64548000

[202 rows x 5 columns]