In [1]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [2]:
def authentic():
    scope = ["https://spreadsheets.google.com/feeds",
             "https://www.googleapis.com/auth/spreadsheets",
             "https://www.googleapis.com/auth/drive.file",
             "https://www.googleapis.com/auth/drive"]
    try:

        creds = ServiceAccountCredentials.from_json_keyfile_name('creds.json', scope)

    except Exception as e:

        print(e)

    client = gspread.authorize(creds)
    return client.open_by_key('1b-GkDhhxJIwWcA6tk3z4eX58f-f1w2TA2f2XrI4XB1w')

In [3]:
def getData(sheets,index=0):

    #Convertendo os dados da planilha para um DataFrame Para pegar todas basta iterar sobre sheets.worksheets()

    data = sheets.worksheets()[index].get_all_values()
    headers = data.pop(0)
    return pd.DataFrame(data, columns = headers)

In [4]:
sheets = authentic()

In [12]:
df1 = getData(sheets,index=1)
df2 = getData(sheets,index=2)
df3 = getData(sheets,index=3)
df4 = getData(sheets,index=4)
df5 = getData(sheets,index=5)
df6 = getData(sheets,index=6)
df8 = getData(sheets,index=8)
df23 = getData(sheets,index=23)

In [33]:
df23

,Dias,Capacidade Leitos Clínicos,Internados Leitos Clínicos,Capacidade UTI,Internados UTI,Capacidade LE,Internados Estabilização,Capacidade Leitos Respiradores,Internados Leitos Respiradores,Altas,,LC,I-ILC,UTI,I-UTI,LE,I-LE,LR,I-LR,ALTAS
0,06/04/2020,723,48,148,30,26,1,174,31,,,959,424,342,233,58,11,400,244,696
1,07/04/2020,723,53,148,28,26,1,174,29,,,,,,,,,,,
2,08/04/2020,723,55,148,22,26,0,174,22,,,,,,,,,,,
3,09/04/2020,723,45,164,30,30,0,194,30,,,,,,,,,,,
4,10/04/2020,723,75,169,40,30,0,199,40,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,10/06/2020,1034,376,336,208,55,11,391,219,641,,,,,,,,,,
66,11/06/2020,979,386,336,225,55,10,391,235,651,,,,,,,,,,
67,12/06/2020,973,402,337,237,55,11,392,248,671,,,,,,,,,,
68,13/06/2020,973,417,342,233,58,10,400,243,681,,,,,,,,,,
69,14/06/2020,959,424,342,233,58,11,400,244,696,,,,,,,,,,

In [13]:
df8

                                       Data
0  Data de Atualização: 14/06/2020 às 18h45

In [14]:
df6

,id,Município,Confirmados,Óbitos,Incidência,População,CEP,Território,QTDE MUN,QTDE MUN OBT,CONF,OBT
0,1,ACAUA,2,0,"2,82",7084,64748000,VALE DO RIO GUARIBAS,,,,
1,2,AGRICOLANDIA,1,0,"1,95",5139,64440000,,,,,
2,3,AGUA BRANCA,128,11,"73,52",17411,64460000,ENTRE RIOS,181,68,10357,374
3,4,ALAGOINHA DO PIAUI,11,0,"14,38",7651,64555000,VALE DO RIO GUARIBAS,,,,
4,5,ALTO LONGA,20,1,"13,98",14304,64360000,ENTRE RIOS,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
177,178,VARZEA BRANCA,2,1,"4,04",4947,64773000,,,,,
178,179,VARZEA GRANDE,1,0,"2,28",4391,64525000,,,,,
179,180,VERA MENDES,2,0,"6,50",3077,64568000,,,,,
180,181,VILA NOVA DO PIAUI,11,0,"37,02",2971,64688000,,,,,
181,,PIAUÍ,10357,374,"316,42",3273227,,,,,,

In [15]:
df5

,Dias,Confirmados,Óbitos,Novos por Dia,,Semana,Conf/Semana,Obt/Semana,Novos/Semana,,Novos/Dia
0,18/03,0,,0,,12,4,0,4,,204
1,19/03,3,,3,,13,11,1,7,,
2,20/03,4,,1,,14,24,4,13,,
3,21/03,4,,0,,15,47,7,23,,
4,22/03,6,,2,,16,144,10,97,,
...,...,...,...,...,...,...,...,...,...,...,...
84,10/06,8823,299,464,,,,,,,
85,11/06,9337,317,514,,,,,,,
86,12/06,9825,335,488,,,,,,,
87,13/06,10153,360,328,,,,,,,
88,14/06,10357,374,204,,,,,,,

In [16]:
df4

                                     Morbidades Qtde Percentual
0             Cardiopatia incluindo hipertensão  215      47,25
1                                      Diabetes  109      23,96
2                                   Pneumopatia   10       2,20
3   Doença neurológica crônica ou neuromuscular   21       4,62
4                                  Doença Renal   15       3,30
5                                Imunodepressão    6       1,32
6                                     Obesidade   18       3,96
7                                          Asma    1       0,22
8                           Doença hematológica    1       0,22
9                               Doença hepática    0       0,00
10                                     Puérpera    0       0,00
11                             Síndrome de Down    1       0,22
12                                    Neoplasia   16       3,52
13                             Sem comorbidades   42       9,23

In [17]:
df3

     Faixa Etária Confirmados Percentual C. Óbitos Percentual O.
0      0 a 9 Anos         276          2,72      0          0,00
1    10 a 19 Anos         454          4,47      2          0,53
2    20 a 29 Anos        1768         17,41      6          1,60
3    30 a 39 Anos        2547         25,09     11          2,94
4    40 a 49 Anos        1861         18,33     27          7,22
5    50 a 59 Anos        1444         14,22     48         12,83
6    60 a 69 Anos         905          8,91     71         18,98
7    70 a 79 Anos         568          5,59    110         29,41
8  80 Anos e mais         330          3,25     99         26,47
9           TOTAL       10153        100,00    374        100,00

In [18]:
df2

  Id       Sexo Quantidade         374
0  1  Masculino        233
1  2   Feminino        141

In [19]:
df1

  Id       Sexo Quantidade         10357
0  1  Masculino       4994
1  2   Feminino       5363

In [20]:
def generateInternedDataTable(df):
    return df.drop(['LC','I-ILC','UTI','I-UTI','LE','I-LE','LR','I-LR','ALTAS'],axis=1)

In [21]:
generateInternedDataTable(df23)

,Dias,Capacidade Leitos Clínicos,Internados Leitos Clínicos,Capacidade UTI,Internados UTI,Capacidade LE,Internados Estabilização,Capacidade Leitos Respiradores,Internados Leitos Respiradores,Altas,
0,06/04/2020,723,48,148,30,26,1,174,31,,
1,07/04/2020,723,53,148,28,26,1,174,29,,
2,08/04/2020,723,55,148,22,26,0,174,22,,
3,09/04/2020,723,45,164,30,30,0,194,30,,
4,10/04/2020,723,75,169,40,30,0,199,40,,
...,...,...,...,...,...,...,...,...,...,...,...
65,10/06/2020,1034,376,336,208,55,11,391,219,641,
66,11/06/2020,979,386,336,225,55,10,391,235,651,
67,12/06/2020,973,402,337,237,55,11,392,248,671,
68,13/06/2020,973,417,342,233,58,10,400,243,681,
69,14/06/2020,959,424,342,233,58,11,400,244,696,

In [22]:
def generateCityDataTable(df):
    return df.drop(['id','Território','QTDE MUN','QTDE MUN OBT','CONF','OBT'],axis=1)

In [23]:
generateCityDataTable(df6)

              Município Confirmados Óbitos Incidência População       CEP
0                 ACAUA           2      0       2,82      7084  64748000
1          AGRICOLANDIA           1      0       1,95      5139  64440000
2           AGUA BRANCA         128     11      73,52     17411  64460000
3    ALAGOINHA DO PIAUI          11      0      14,38      7651  64555000
4            ALTO LONGA          20      1      13,98     14304  64360000
..                  ...         ...    ...        ...       ...       ...
177       VARZEA BRANCA           2      1       4,04      4947  64773000
178       VARZEA GRANDE           1      0       2,28      4391  64525000
179         VERA MENDES           2      0       6,50      3077  64568000
180  VILA NOVA DO PIAUI          11      0      37,02      2971  64688000
181               PIAUÍ       10357    374     316,42   3273227

[182 rows x 6 columns]

In [24]:
def generateStateDataTable(df):
    return df.drop(['Novos por Dia','Semana','Conf/Semana','Obt/Semana','Novos/Semana','Novos/Dia'],axis=1)

In [25]:
generateStateDataTable(df5)

     Dias Confirmados Óbitos
0   18/03           0
1   19/03           3
2   20/03           4
3   21/03           4
4   22/03           6
..    ...         ...    ... .. ..
84  10/06        8823    299
85  11/06        9337    317
86  12/06        9825    335
87  13/06       10153    360
88  14/06       10357    374

[89 rows x 5 columns]

In [26]:
def generateComorbidityTable(df):
    return df.drop('Percentual',axis=1)

In [27]:
generateComorbidityTable(df4)

                                     Morbidades Qtde
0             Cardiopatia incluindo hipertensão  215
1                                      Diabetes  109
2                                   Pneumopatia   10
3   Doença neurológica crônica ou neuromuscular   21
4                                  Doença Renal   15
5                                Imunodepressão    6
6                                     Obesidade   18
7                                          Asma    1
8                           Doença hematológica    1
9                               Doença hepática    0
10                                     Puérpera    0
11                             Síndrome de Down    1
12                                    Neoplasia   16
13                             Sem comorbidades   42

In [28]:
def generateAgeRangeTable(df):
    d = {
        'Faixa Etária':df['Faixa Etária'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list()
    }
    return pd.DataFrame(data=d)

In [29]:
generateAgeRangeTable(df3)

     Faixa Etária Confirmados Óbitos
0      0 a 9 Anos         276      0
1    10 a 19 Anos         454      2
2    20 a 29 Anos        1768      6
3    30 a 39 Anos        2547     11
4    40 a 49 Anos        1861     27
5    50 a 59 Anos        1444     48
6    60 a 69 Anos         905     71
7    70 a 79 Anos         568    110
8  80 Anos e mais         330     99
9           TOTAL       10153    374

In [30]:
def generateGenderTable(df1,df2):
    d = {
        'Confirmados Masculino':list(df1[df1.Sexo=="Masculino"].Quantidade),
        'Confirmados Feminino':list(df1[df1.Sexo=="Feminino"].Quantidade),
        'Obitos Masculino':list(df2[df2.Sexo=="Masculino"].Quantidade),
        'Obitos Feminino':list(df2[df2.Sexo=="Feminino"].Quantidade),
        }
    return pd.DataFrame(data=d)

In [31]:
generateGenderTable(df1,df2)

  Confirmados Masculino Confirmados Feminino Obitos Masculino Obitos Feminino
0                  4994                 5363              233             141

In [ ]:
from datetime import datetime

def getTimeUpdate(df):
# Função que pega a ultima atualização na planilha do painel covid
    date = df.Data.to_list()[0].split(':')[1][1:11]
    time = df.Data.to_list()[0].split(':')[1][15:].split('h')
    datetime = date+" "+time[0]+":"+time[1]   
    
    return datetime

def getTimeSys():
# Função que pega data e hora do sistema
    data_e_hora_atuais = datetime.now()
    data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y %H:%M')
    
    return data_e_hora_em_texto

def getTimeLastUpdate():

# Função que pega a ultima feita no banco de dados
 
    pass

def calTime(time1,time2):

# Função que calcula a diferenca de duas datas
  
    formattime = '%d/%m/%Y %H:%M'
    dif = (datetime.strptime(time2, formattime) - datetime.strptime(time1, formattime)).total_seconds()
    return dif