In [53]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from pprint import pprint
import pandas as pd
scope = ["https://spreadsheets.google.com/feeds",
         "https://www.googleapis.com/auth/spreadsheets",
         "https://www.googleapis.com/auth/drive.file",
         "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name('creds.json', scope)
client = gspread.authorize(creds)

In [54]:
sheets = client.open_by_key('1b-GkDhhxJIwWcA6tk3z4eX58f-f1w2TA2f2XrI4XB1w')

In [63]:
"""
    Convertendo os dados da planilha para um DataFrame
    Para pegar todas basta iterar sobre sheets.worksheets()
"""
data = sheets.worksheets()[4].get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data, columns = headers)

In [64]:
df

     Faixa Etária Confirmados Percentual C. Óbitos Percentual O.
0      0 a 9 Anos         273          2,78      0          0,00
1    10 a 19 Anos         442          4,50      2          0,60
2    20 a 29 Anos        1705         17,35      6          1,79
3    30 a 39 Anos        2473         25,17     10          2,99
4    40 a 49 Anos        1811         18,43     25          7,46
5    50 a 59 Anos        1396         14,21     40         11,94
6    60 a 69 Anos         867          8,82     63         18,81
7    70 a 79 Anos         546          5,56    101         30,15
8  80 Anos e mais         312          3,18     88         26,27
9           TOTAL        9825        100,00    335        100,00

,ID,Casos,Descartados,Infectados,PCR Detectável,PCR Não Detectável
0,1,Investigados Laboratorialmente,8371,87579,4318,8371