In [1]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [2]:
def authentic():
    scope = ["https://spreadsheets.google.com/feeds",
             "https://www.googleapis.com/auth/spreadsheets",
             "https://www.googleapis.com/auth/drive.file",
             "https://www.googleapis.com/auth/drive"]
    try:

        creds = ServiceAccountCredentials.from_json_keyfile_name('../Projeto_Django/scripts/creds.json', scope)

    except Exception as e:

        print(e)

    client = gspread.authorize(creds)
    return client.open_by_key('1b-GkDhhxJIwWcA6tk3z4eX58f-f1w2TA2f2XrI4XB1w')

In [3]:
def getData(sheets,index=0):

    #Convertendo os dados da planilha para um DataFrame Para pegar todas basta iterar sobre sheets.worksheets()

    data = sheets.worksheets()[index].get_all_values()
    headers = data.pop(0)
    return pd.DataFrame(data, columns = headers)

In [4]:
sheets = authentic()

In [5]:
df1 = getData(sheets,index=1)
df2 = getData(sheets,index=2)
df3 = getData(sheets,index=3)
df4 = getData(sheets,index=4)
df5 = getData(sheets,index=5)
df6 = getData(sheets,index=6)
df8 = getData(sheets,index=8)
df27 = getData(sheets,index=27)

In [6]:
df27.tail()

,Dias,Capacidade Leitos Clínicos,Internados Leitos Clínicos,Capacidade UTI,Internados UTI,Capacidade LE,Internados Estabilização,Capacidade Leitos Respiradores,Internados Leitos Respiradores,Altas,,LC,I-ILC,UTI,I-UTI,LE,I-LE,LR,I-LR,ALTAS
89,04/07/2020,1038,570,439,320,72,16,511,336,1181,,,,,,,,,,
90,05/07/2020,1030,557,439,330,73,22,512,352,1211,,,,,,,,,,
91,06/07/2020,1028,563,439,329,72,18,511,347,1235,,,,,,,,,,
92,07/07/2020,1028,580,439,308,72,23,511,331,1249,,,,,,,,,,
93,08/07/2020,,550,,314,,27,,341,1299,,,,,,,,,,

In [7]:
def CheckValue(df,column): #Função para salvar a coluna caso o valor esteja vazio
    indexs = list(df[df[column]==''].index)
    if indexs:
        for index in indexs:
            df[column][index] = df[column][index-1]
    return df

In [8]:
a = CheckValue(df27,'Capacidade Leitos Clínicos')
a = CheckValue(df27,'Capacidade UTI')
a = CheckValue(df27,'Capacidade LE')
a = CheckValue(df27,'Capacidade Leitos Respiradores')

In [9]:
a

,Dias,Capacidade Leitos Clínicos,Internados Leitos Clínicos,Capacidade UTI,Internados UTI,Capacidade LE,Internados Estabilização,Capacidade Leitos Respiradores,Internados Leitos Respiradores,Altas,,LC,I-ILC,UTI,I-UTI,LE,I-LE,LR,I-LR,ALTAS
0,06/04/2020,723,48,148,30,26,1,174,31,,,1028,550,439,314,72,27,511,341,1299
1,07/04/2020,723,53,148,28,26,1,174,29,,,,,,,,,,,
2,08/04/2020,723,55,148,22,26,0,174,22,,,,,,,,,,,
3,09/04/2020,723,45,164,30,30,0,194,30,,,,,,,,,,,
4,10/04/2020,723,75,169,40,30,0,199,40,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,04/07/2020,1038,570,439,320,72,16,511,336,1181,,,,,,,,,,
90,05/07/2020,1030,557,439,330,73,22,512,352,1211,,,,,,,,,,
91,06/07/2020,1028,563,439,329,72,18,511,347,1235,,,,,,,,,,
92,07/07/2020,1028,580,439,308,72,23,511,331,1249,,,,,,,,,,
93,08/07/2020,1028,550,439,314,72,27,511,341,1299,,,,,,,,,,

In [ ]:
df8[df8['Município']!='PIAUÍ']

In [ ]:
df6

In [ ]:
df5

In [ ]:
df4[df4['Faixa Etária']!='TOTAL']

In [ ]:
df3

In [ ]:
df2

In [ ]:
df1

In [ ]:
def generateInternedDataTable(df):
    return df.drop(['LC','I-ILC','UTI','I-UTI','LE','I-LE','LR','I-LR','ALTAS'],axis=1)

In [ ]:
generateInternedDataTable(df23)

In [ ]:
def generateCityDataTable(df):
    return df.drop(['id','Território','QTDE MUN','QTDE MUN OBT','CONF','OBT'],axis=1)

In [ ]:
generateCityDataTable(df6)

In [ ]:
def generateStateDataTable(df):
    return df.drop(['Novos por Dia','Semana','Conf/Semana','Obt/Semana','Novos/Semana','Novos/Dia'],axis=1)

In [ ]:
generateStateDataTable(df5)

In [ ]:
def generateComorbidityTable(df):
    return df.drop('Percentual',axis=1)

In [ ]:
generateComorbidityTable(df4)

In [ ]:
def generateAgeRangeTable(df):
    d = {
        'Faixa Etária':df['Faixa Etária'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list()
    }
    return pd.DataFrame(data=d)

In [ ]:
generateAgeRangeTable(df3)

In [ ]:
def generateGenderTable(df1,df2):
    d = {
        'Confirmados Masculino':list(df1[df1.Sexo=="Masculino"].Quantidade),
        'Confirmados Feminino':list(df1[df1.Sexo=="Feminino"].Quantidade),
        'Obitos Masculino':list(df2[df2.Sexo=="Masculino"].Quantidade),
        'Obitos Feminino':list(df2[df2.Sexo=="Feminino"].Quantidade),
        }
    return pd.DataFrame(data=d)

In [ ]:
generateGenderTable(df1,df2)

In [ ]:
from datetime import datetime

def getTimeUpdate(df):
# Função que pega a ultima atualização na planilha do painel covid
    date = df.Data.to_list()[0].split(':')[1][1:11]
    time = df.Data.to_list()[0].split(':')[1][15:].split('h')
    datetime = date+" "+time[0]+":"+time[1]   
    
    return datetime

def getTimeSys():
# Função que pega data e hora do sistema
    data_e_hora_atuais = datetime.now()
    data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y %H:%M')
    
    return data_e_hora_em_texto

def getTimeLastUpdate():

# Função que pega a ultima feita no banco de dados
 
    pass

def calTime(time1,time2):

# Função que calcula a diferenca de duas datas
  
    formattime = '%d/%m/%Y %H:%M'
    dif = (datetime.strptime(time2, formattime) - datetime.strptime(time1, formattime)).total_seconds()
    return dif

In [ ]:
dfdata = getData(sheets, index=9)

In [ ]:
{'Data de Atualização':dfdata['Data'].to_list()}

In [ ]:
dataHora = dfdata.values[0][0].split(':')[-1].strip()

In [ ]:
dataHora

In [ ]:
dataHora.replace('às ','').replace('h', ':')

In [ ]:
'Data de Atualização: 18/06/2020 às 19h30'

In [ ]:
list(filter(str.isalnum, dataHora.split(':')))

In [ ]:
def generateAgeRangeTable(sheets):
    df = getData(sheets,index=4)
    df = df[df['Faixa Etária']!='TOTAL']
    d = {
        'Faixa Etária':df['Faixa Etária'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list()
    }
    return pd.DataFrame(data=d).replace({'': 0})

In [ ]:
generateAgeRangeTable(authentic())

In [ ]:
def generateCityDataTable(sheets):
    df = getData(sheets,index=8)
    df = df[df['Município']!='PIAUÍ']
    d = {
        'Município':df['Município'].to_list(),
        'Confirmados':df['Confirmados'].to_list(),
        'Óbitos':df['Óbitos'].to_list(),
        'Incidência':df['Incidência'].to_list(),
        'CEP':df['CEP'].to_list()
    }

    return pd.DataFrame(data=d).replace({'': 0})

In [ ]:
generateCityDataTable(authentic())